<!DOCTYPE html>
<html>
    <body>
        <form action="/analyze" method='get'>
            <h1>Enter your text here:</h1>
            <textarea name="text" style="height: 125px; width: 607px;"></textarea><br>
            <input type="checkbox" name="removepunc"> Remove punctuations <br>
            <input type="checkbox" name="caps"> UPPER CASE <br>
            <input type="checkbox" name="newlineremover"> Remove new line <br>
            <input type="checkbox" name="extraspaceremover"> Remove extra space <br>
            <input type="checkbox" name="charcounter"> Count characters <br>
            <button type="Submit">Analyze text</button>
        </form>
    </body>
</html>
